{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam check</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <h1>Welcome to spam check website</h1>
    <hr> {% if ans %}
    <div class="signup-body">
        <h1>The email is {{ans}}</h1>

        {% else %}
        <form action="" method="POST">
            {% csrf_token %} Enter your email:<textarea name="email" id="" cols="50" rows="10"></textarea><br>
            <input type="submit" value="Submit">
        </form>
        {% endif %}
    </div>
</body>

</html>